* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 1.8rem 0.7rem 5rem 0.7rem;
}

footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* colors */
/* fonts */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
body header h1 {
  color: #4e5150;
  font-size: 1.5rem;
  margin: 0 0 1rem 0.2rem;
}
body #basket .basket-item-info h2 {
  color: #4e5150;
  font-size: 0.7rem;
}
body #basket .basket-item-info p {
  font-size: 0.9rem;
  color: #f2994a;
}
body #basket .basket-item-info p span {
  font-size: 0.7rem;
  color: #4e5150;
  text-decoration: line-through;
}
body #basket .basket-item-quantity {
  color: #333333;
  font-size: 0.7rem;
}
body #basket .basket-item-quantity button {
  /* increment & decrement */
  cursor: pointer;
}
body #basket .basket-item-quantity button:nth-child(1) {
  /* decrement */
  font-size: 1rem;
}
body #basket #totals-container {
  color: #333333;
  font-size: 0.7rem;
}
body #basket #totals-container p {
  font-size: 1rem;
}
body #checkout-form label {
  font-size: 0.7rem;
}
body #checkout-form span {
  font-size: 1rem;
}
body #checkout-form input {
  font-size: 0.7rem;
}
body #checkout-form select {
  font-size: 0.7rem;
}

/* colors */
/* fonts */
#basket {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 1.5rem;
}
#basket img {
  width: 7rem;
  height: 7rem;
  border-radius: 15px;
}
#basket .basket-item-outer-container {
  display: flex;
  justify-content: space-around;
  width: 87%;
  margin-left: 0.8rem;
  margin-bottom: 2rem;
}
#basket .basket-item-outer-container .basket-item-quantity {
  display: flex;
  justify-content: space-between;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 10%;
  width: 7rem;
}
#basket .basket-item-outer-container .basket-item-quantity button {
  border: none;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 3px;
  background-color: #e0e0e0;
  color: #828282;
}
#basket .basket-item-outer-container .basket-item-quantity button:hover {
  box-shadow: 2px 3px 1px 1px rgb(71, 71, 71);
}
#basket .basket-item-outer-container .basket-item-quantity button:active {
  box-shadow: 0px 0px 1px 1px rgb(71, 71, 71);
}
#basket .basket-item-outer-container .basket-item-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#basket .basket-item-outer-container .basket-item-inner-container .basket-item-info h2 {
  margin-bottom: 10%;
}
#basket #totals-container {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
}
#basket #totals-container h2 {
  padding: 0.8rem 0 0.8rem 0;
}
#basket #totals-container #shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
}
#basket #totals-container #total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
}
#basket #empty-basket-message-container {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
#basket #empty-basket-message-container h2 {
  font-size: 1.5rem;
}

#basket #basket-item-1-quantity {
  display: flex;
  width: 100%;
  border: 2px solid black;
  padding: 1.3rem 0;
  border-radius: 15px;
  justify-content: space-around;
}
#basket #basket-item-1-quantity button {
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  border-radius: 5px;
}

#checkout-form #shipping-address, #checkout-form #contact-information {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4f4f4f;
}
#checkout-form #shipping-address legend, #checkout-form #contact-information legend {
  color: #333333;
  margin-top: 2rem;
}
#checkout-form #shipping-address label, #checkout-form #contact-information label {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
#checkout-form #shipping-address input, #checkout-form #contact-information input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #828282;
  height: 2rem;
}
#checkout-form #shipping-address #icon-input-container, #checkout-form #contact-information #icon-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#checkout-form #shipping-address #icon-input-container input, #checkout-form #contact-information #icon-input-container input {
  padding-left: 2.7rem;
}
#checkout-form #shipping-address #icon-input-container span, #checkout-form #contact-information #icon-input-container span {
  position: absolute;
  padding-left: 0.5rem;
  color: #828282;
}
#checkout-form #shipping-address #country-input-container, #checkout-form #contact-information #country-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#checkout-form #shipping-address #country-input-container select, #checkout-form #contact-information #country-input-container select {
  padding-left: 2rem;
  background-color: white;
  border-radius: 10px;
  height: 2rem;
  color: #828282;
}
#checkout-form #shipping-address #country-input-container span, #checkout-form #contact-information #country-input-container span {
  position: absolute;
  padding-left: 0.3rem;
  color: #828282;
}
#checkout-form #shipping-address #postcode-input-container, #checkout-form #contact-information #postcode-input-container {
  position: relative;
  display: flex;
  align-items: center;
}
#checkout-form #shipping-address #postcode-input-container input, #checkout-form #contact-information #postcode-input-container input {
  padding-left: 2rem;
}
#checkout-form #shipping-address #postcode-input-container span, #checkout-form #contact-information #postcode-input-container span {
  position: absolute;
  padding-left: 0.3rem;
  color: #828282;
}
#checkout-form #countries-postcode-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
#checkout-form #save-info-container {
  display: flex;
  align-items: center;
}
#checkout-form #save-info-container input {
  margin-right: 1%;
}
#checkout-form #save-info-container label {
  font-size: 0.5rem;
  width: 100%;
}
#checkout-form #submit-btn {
  float: right;
}/*# sourceMappingURL=main.css.map */