/* colors */
$primary-text-grey: #828282;
$accent-orange: #f2994a;
$secondary-text-grey-semibold: #4f4f4f;
$secondary-header-bold: #333333;
$primary-header-semi-bold: #4e5150;
$footer-grey: #bdbdbd;

/* fonts */
$ms: 'Montserrat', sans-serif;

/* breakpoints */
$breakpoints: (
    "mobile-m": 400,
    "mobile-l": 480,
    "tablet": 768,
    "laptop": 1280,
    "desktop": 1530,
    "desktop-lg": 1920,
);

@mixin mobile-m {
    @media screen {
        
    }
}