/* colors */
$primary-text-grey: #828282;
$accent-orange: #f2994a;
$secondary-text-grey-semibold: #4f4f4f;
$secondary-header-bold: #333333;
$primary-header-semi-bold: #4e5150;
$footer-grey: #bdbdbd;

/* fonts */
$ms: 'Montserrat', sans-serif;

/* breakpoints */
$breakpoints: (
    "mobile-m": 400px,
    "mobile-l": 480px,
    "tablet": 768px,
    "laptop": 1280px,
    "desktop": 1530px,
    "desktop-lg": 1920px,
);

@mixin mobile-m {
    @media screen and (min-width: "mobile-m") {
        @content
    }
};

@mixin mobile-l {
    @media screen and (min-width: "mobile-l") {
        @content
    }
};

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, "tablet")) {
        @content
    }
};

@mixin laptop {
    @media screen and (min-width:  map-get($breakpoints, "laptop")) {
        @content
    }
};

@mixin desktop {
    @media screen and (min-width:  map-get($breakpoints, "desktop")) {
        @content
    }
};

@mixin desktop-lg {
    @media screen and (min-width: map-get($breakpoints, "desktop-lg")) {
        @content
    }
}