/* colors */
$primary-text-grey: #828282;
$accent-orange: #f2994a;
$secondary-text-grey-semibold: #4f4f4f;
$secondary-header-bold: #333333;
$primary-header-semi-bold: #4e5150;
$footer-grey: #bdbdbd;

/* fonts */
$ms: 'Montserrat', sans-serif;