@import '../utilities/variables';
body {
    font-family: $ms;
    font-weight: 600;

    header {
        h1 {
            color: $primary-header-semi-bold ;
        }
    }

    #basket {
        
    }
}