@import '../utilities/variables';
body {
    font-family: $ms;
    font-weight: 600;

    header {
        h1 {
            color: $primary-header-semi-bold;
            font-size: 1.5rem;
            margin: 0 0 1rem .2rem;
        }
    }

    #basket {
        .basket-item-info {
            h2 {
                color: $primary-header-semi-bold;
                font-size: .7rem;
            }

            p {
                font-size: .9rem;
                color: $accent-orange;
                span {
                    font-size: .7rem;
                    color: $primary-header-semi-bold;
                    text-decoration: line-through;
                }
            }
        }

        .basket-item-quantity {
            color: $secondary-header-bold;
            font-size: .7rem;
    
            button {
                /* increment & decrement */
                cursor: pointer;
                &:nth-child(1) {
                /* decrement */
                font-size: 1rem;
                }
            }
        }

        #totals-container {
            color: $secondary-header-bold;
            font-size: .7rem;
            
            p {
                font-size: 1rem;
            }
        }
    }

    #checkout-form {
        label {
            font-size: .7rem;
        }
    }
}