#basket {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;

    img {
        width: 8rem;
        height: 8rem;
        border-radius: 15px;
    }

    .basket-item-outer-container {
        display: flex;
    }

    // #totals-container {
    //     background-color: blue;
    //     height: 10rem;
    // }
}
