#checkout-form {
    input {
        width: 90%;
    }    
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    #countries-postcode-container {
        display: flex;
        width: 90%;
    }
}