#checkout-form {
    // display: flex;
 
    // background-color: rgb(252, 208, 126);
        
    #shipping-address, #contact-information {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: rgb(210, 210, 255);
        align-items: center;

        input {
            width: 100%;
            border-radius: 8px;
            border: 1px solid $primary-text-grey;
            height: 2rem;
        }  

        #icon-input-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
             input {
                padding-left: 2.7rem;
             }
            span {
                position: absolute;
                padding-left: .5rem;
            }
        }
    }

    #countries-postcode-container {
        width: 90%;
        display: flex;
    }

    #save-info-container {
        display: flex;
        align-items: center;

        input {
        margin-right: 1%;
        }

        label {
        font-size: .5rem;
        width: 100%;
        }
    } 

    #submit-btn {
        float: right;
    }
}