@import '../utilities/variables';

footer {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $footer-grey;
    font-weight: 600;

    a{
        color: darken($footer-grey, 10%);
        font-weight: 700;

    }
}

